<div class="file-uploader-preview">
    <img
        class="preview-image"
        tabindex="0"
        data-bind="
            attr: {
                src: $parent.getFilePreview($file),
                alt: $file.name,
                title: $file.name
            },
            event: {
                load: $parent.onPreviewLoad.bind($parent)
            }"
        style="max-width: 75px; max-height: 75px;"
    />
    <div class="actions">
        <button
            type="button"
            class="action-remove"
            data-role="delete-button"
            data-bind="
                attr: {
                    title: $t('Delete file')
                },
                click: $parent.removeFile.bind($parent, $file)
            ">
            <span translate="'Delete file'"></span>
        </button>
    </div>
</div>
<div class="file-uploader-filename" text="$file.name"></div>
<div class="file-uploader-meta">
    <text args="$file.previewType"></text>
</div>
